
    html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0e2ae2,#2708b3 , #071563, #000814);
  color: #f1f1f1;
}

header {
  padding: 20px 40px;
  background-color: rgba(71, 71, 71, 0.85);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffd900;
  letter-spacing: 1px;
}

nav a {
  color: #ccc;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffd900;
}

section {
  padding: 80px 40px;
  min-height: 100vh;
}

.hero {
  text-align: center;
}

.hero-img img {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero-img img:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0,0,0,0.7);
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
  animation: fadeIn 1s ease forwards;
}

.highlight {
  color: #ffd900;
}

.btn {
  display: inline-block;
  background-color: #ffd900;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  margin: 10px 8px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background-color: #ffcd00;
  transform: translateY(-3px);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

#about {
  padding: 80px 40px;
  text-align: center;
  background-color: rgba(255,255,255,0.05);

}

#about h2 {
  color: #ffd900;
  font-size: 30px;
  margin-bottom: 20px;
}

#about p {
  max-width: 700px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 1.6;
}

#about img {
  margin: 10px;
  transition: transform 0.3s ease;
}

#about img:hover {
  transform: scale(1.2);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1.5rem;
  max-width: 1000px;   
  margin: 0 auto;   
}

#projects h2 {
  color: #ffd900;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.project-card {
  background: #fff;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 6px 18px rgba(31,111,214,0.08);
  transition: transform 0.3s;
  margin: 20px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-title {
  color: #000;  
  font-size: 1.2rem;
  margin-top: 10px;
}

.project-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;}
}

#education {
  padding: 80px 40px;
  text-align: left;
  max-width: 900px;
  margin: auto;
}

#education h2 {
  text-align: center;
  font-size: 30px;
  color: #ffd900;
  margin-bottom: 40px;
}

.edu-item h3 {
  margin: 0;
  font-size: 21px;
  color: #ffd900;
}

.edu-item p {
  line-height: 1.8;
  margin: 12px 0;
  font-size: 20px;
  color: #ddd;
  text-align: justify;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease, background 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  background: rgba(255,217,0,0.2);
}

#contact {
  text-align: center;
}

#contact form {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

#contact input, #contact textarea {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-family: 'Poppins';
}

#contact button {
  padding: 12px;
  border: none;
  background-color: #ffd900;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

#contact button:hover {
  background-color: #ffcd00;
}


.contact-info a {
  color: #ffd900;
  text-decoration: none;
  font-weight: 500;
}

footer a {
  color: #ffd900;
  text-decoration: none;
  margin: 0 8px;
}

footer a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: rgba(71, 71, 71, 0.85);
}
